html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Oswald', sans-serif;
    font-weight: 326;
    max-width: 1000px;
    margin: auto;
}

.body--dark {
    background-color: #5f4f4f;
}